<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

   <!--Example JS template-->
    <script type="text/template" id="Test01">
        <img class="pvs-cmy-img" src="<%= thumbnail %>" alt="<%= name %>">
        <h3 class="pvs-cmy-title"><%= name %></h3>
        <h4 class="pvs-cmy-city">City: <%= city %></h4>
    <p class="pvs-cmy-description"><%= summary %></p>
        </script>  
    <script id="test02" type="text/template">
        <div>
            <%= attribute %>
        </div>

    </script>
   
    <title>Test underscore par Horace</title>
</head>
<body>
    <div> Hello world </div>


</body>
</html>